##################
##	        VIVADO            ##
##################

##Source files:

!*.srcs/

##################

*.sim/
*.hw/
*.cache/
*.ip_user_files/
*.runs/

##################

*vivado*
*.log
*.jou
*.zip

##################

##################
##	         LATEX             ##
##################

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.pdf
*.bbl
*.blg
*.synctex.gz